.activeSelectedButton {
  text-decoration: underline;
  text-underline-offset: 0.3em;
  font-weight: 550;
  color: #50bfd2;
}

.activeSelectedAllButton {
  text-decoration: underline;
  text-underline-offset: 0.3em;
  font-weight: 550;
  color: #ef467c;
}
