.categoryWrapper {
  display: flex;
  justify-content: center;
  width: 550px;
  z-index: 1000;
  background-color: #fff;

  padding: 15px 0;
}

.categoryContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  margin: 0 50px;

  button {
    font-size: 13px;
    cursor: pointer;
    border-radius: 16px;
    margin: 2px;
    min-width: 65px;
  }
  button + button {
    margin-left: 15px;
  }
}

.activeSelectedButton {
  border: none;
  color: #fff;
  padding: 6px;
}

.activeSelectedAllButton {
  border: none;
  color: #fff;
  padding: 6px;
  background-color: var(--main-color);
}

.selectedButton {
  border: 2px solid;
  padding: 4px;
  border-color: var(--sub-1-color);
  color: var(--sub-1-color);
  background-color: #fff;
}

.selectedAllButton {
  border: 2px solid;
  padding: 4px;
  border-color: var(--main-color);
  color: var(--main-color);
  background-color: #fff;
}

.filteredCounterWraper {
  display: flex;

  width: 100%;
  height: 100%;
  z-index: 1000;

  background-color: #fff;

  #filteredCounter {
    padding-left: 30px; // destination의 좌우 패딩과 동일
    font-size: 18px;
    font-weight: 550;
  }
}

#activeCategory-12 {
  background-color: #ff4500;
}

#Category-12 {
  border-color: #ff4500;
  color: #ff4500;
}

#activeCategory-14 {
  background-color: #8a2be2;
}

#Category-14 {
  border-color: #8a2be2;
  color: #8a2be2;
}

#activeCategory-15 {
  background-color: #00ff00;
}

#Category-15 {
  border-color: #00ff00;
  color: #00ff00;
}

#activeCategory-25 {
  background-color: #008080;
}

#Category-25 {
  border-color: #008080;
  color: #008080;
}

#activeCategory-28 {
  background-color: #40e0d0;
}

#Category-28 {
  border-color: #40e0d0;
  color: #40e0d0;
}

#activeCategory-32 {
  background-color: #ffd700;
}

#Category-32 {
  border-color: #ffd700;
  color: #ffd700;
}

#activeCategory-38 {
  background-color: #8b4513;
}

#Category-38 {
  border-color: #8b4513;
  color: #8b4513;
}

#activeCategory-39 {
  background-color: #1e90ff;
}

#Category-39 {
  border-color: #1e90ff;
  color: #1e90ff;
}
