.destinationDetailsContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #fff;
  // padding: 20px;
  border: 1px solid #ccc;
  border-radius: 20px;

  z-index: 100;
  overflow-y: auto;

  width: 330px;
  height: 123.5%;
  bottom: 23.5%;
  // height: 500px;
}

.destinationDetails {
  padding: 20px;
}

.detailsButtonContainer {
  button {
    width: 5px;
    height: 7px;
  }
}
