.destinationDetailsContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #fff;
  padding: 70px 50px;
  border-left: 1px solid #ccc;
  // border-radius: 20px;

  z-index: 1000;
  overflow-x: hidden;
  overflow-y: auto;

  width: 575px; // 스크롤 간격(25px 고려)
  height: calc(100vh + 49px);
  box-sizing: border-box;
  box-shadow: 2px 0 0 0 rgba(96, 101, 105, 0.3);

  &::-webkit-scrollbar {
    width: 12px;
    background: #ffffff;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 3.5px;
    background-color: #ced4da;

    &:hover {
      background-color: #adb5bd;
    }
  }
  &::-webkit-scrollbar-track {
    background: #ffffff;
  }
}

.destinationDetailsTitle {
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-weight: 600;
  padding: 30px;
}

#destinationDetailsImage {
  width: 450px;
  height: 300px;
}

.destinationDetailsIcons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 120px 30px 120px;

  .destinationReviewContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .reviewButton {
      border: none;
      background: none;

      &:hover {
        transform: scale(1.2);
        cursor: pointer;
      }
    }

    #destinationReviewIcon {
      font-size: 28px;
    }

    #reviewLabel {
      padding: 1px 6px; // 좋아요의 default 패딩과 동일
    }
  }
}

.destinationAddrContainer {
  display: flex;
  font-size: 18px;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;

  text-align: center;
  line-height: 25px;

  #destinationAddrIcon {
    padding: 0 5px;
    height: 25px;
  }
}

.destinationTelContainer {
  display: flex;
  font-size: 18px;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;

  text-align: center;
  line-height: 25px;

  #destinationTelIcon {
    padding: 0 5px;
    height: 25px;
  }
}

.destinationOverview {
  font-size: 18px;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

.scheduleModalButtonContainer {
  display: flex;
  justify-content: center;
  padding: 30px 0;

  width: 100%;

  #scheduleModalButton {
    width: 200px;
    height: 50px;

    border: none;
    display: inline-block;
    margin: auto 5px;
    padding: 5px 10px;
    border-radius: 15px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-weight: 600;
    font-size: 17px;

    background: var(--sub-1-color);
    color: white;

    &:hover {
      transform: scale(1.1);
      cursor: pointer;
    }
  }
}

/* 후순위 기능
.detailsLikesButton {
  background-color: #fff;
  border: none;
  font-size: 24px;

  .detailsLikesUpButton {
    cursor: pointer;
  }

  .detailsLikesCancelButton {
    cursor: pointer;
  }
}
*/
