.destinationDetailsContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  z-index: 100;
  overflow-y: auto;

  width: 250px;
  height: 500px;
}

.detailsButtonContainer {
  button {
    width: 5px;
    height: 7px;
  }
}
