.destinationContentsContainer {
  display: flex;
  flex-direction: row;
}

.destinationsContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(10, 200px);
  background-color: #fff;
  width: 550px; //search bar, category container와 동일
  height: calc(
    100vh - 149px
  ); // map과 맞추기(추후 변경 가능성 있음- border 1px)

  // max-height: 550px; //추후 삭제
  // min-height: 550px; 상의 후 결정
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  z-index: 1000;

  .destinations {
    display: flex;
    position: relative;
    align-items: flex-start;
    border: 1px solid #ccc;
    flex-direction: column;
    margin: 15px 30px;
    padding: 30px;

    &:hover {
      cursor: pointer;
    }

    h2 {
      font-weight: 600;
      align-self: flex-start;
    }

    h2 + p {
      margin-top: 15px;
    }

    p + p {
      margin-top: 18px;
    }

    .destinationExceedTitle {
      font-size: 20px;
      font-weight: 600;
      align-self: flex-start;
    }

    .destinationShortTitle {
      font-size: 25px;
      font-weight: 600;
      align-self: flex-start;
    }

    .destinationAddress {
      font-size: 18px;
      align-self: flex-start;
      width: 190px;
      height: 30px;

      white-space: normal;
    }

    #destinationImage {
      position: absolute;
      width: 150px;
      height: 108px;
      align-self: flex-end;
    }
  }
}

.destinationsInfoContainer {
  display: flex;
}

.alertContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #c1c1c1;

  .alertIcon {
    width: 100px;
    height: 100px;
  }
}

.detailsContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1000;

  .detailsButtonContainer {
    display: flex;

    .detailsCloseButton {
      position: absolute;
      top: 3%;
      right: 12%;
      width: 30px;
      height: 30px;
      z-index: 1000;
    }
  }
}
