.destinationDetailsContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #fff;
  padding: 20px;
  border-left: 1px solid #ccc;
  // border-radius: 20px;

  z-index: 100;
  overflow-y: auto;

  width: 330px;
  height: 135.2%;
  bottom: 35.2%;
  box-sizing: border-box;
  box-shadow: 2px 0 0 0 rgba(96, 101, 105, 0.3);

  button {
    width: 30px;
    height: 30px;
  }
}

.destinationDetails {
  padding: 20px;
}

.detailsButtonContainer {
  display: flex;
  justify-content: flex-end;
}

.detailsLikesButton {
  background-color: #fff;
  border: none;
  font-size: 24px;

  .detailsLikesUpButton {
    cursor: pointer;
  }

  .detailsLikesCancelButton {
    cursor: pointer;
  }
}
