.destinationContentsContainer {
  display: flex;
  flex-direction: row;
}

.destinationsContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(20, 1fr) minmax(0, 10px);
  background-color: #fff;
  width: 420px; //search bar, category container와 동일
  height: 100%; // map-2px(border 너비)과 동일함.
  overflow-y: auto;
  position: relative;
  justify-content: flex-start;
  z-index: 1000;

  /*
  div:not(:last-child) {
    box-sizing: border-box;
    padding: 15px;
  }
  */

  .destinations {
    border-bottom: 1px solid #ccc;

    &:hover {
      cursor: pointer;
    }
  }
}

.destinationsInfoContainer {
  display: flex;
}
