.paginationBar {
  margin: 20px 0 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;

    position: relative;
    border: none;
    border-radius: 3px;
    margin: 0px 3px;
    padding: 0;

    color: var(--main-color);
    border: 1px solid var(--main-color);
    background-color: #fff;
    cursor: pointer;

    &:hover {
      background-color: var(--main-color);
      color: #fff;
    }

    svg {
      font-size: 20px;
    }
  }
}

.pageNumbers {
  display: flex;
  margin: 0px 10px;
}

.pageNumber {
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  color: #333;
  padding: 5px 10px;

  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;

  &:hover {
    color: var(--main-color);
  }

  &.selected {
    color: var(--main-color);
  }
}
