.reviewWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0px 15px;
  box-sizing: border-box;
}
.reviewBanner {
  font-size: 22px;
  padding: 25px 0px 20px;
  box-sizing: border-box;
  width: 100%;
  border-bottom: 1px solid #eee;
  font-weight: 600;
  color: #333;
}

.reviewContainer {
  .reviewBox {
    display: flex;
    flex-direction: column;
    padding: 13px 0px 7px;
    box-sizing: border-box;
    border-bottom: 1px solid #eee;

    .reviewUserInfo {
      width: 100%;
      display: flex;
      align-items: center;

      .reviewerAvatar {
        width: 45px;
        height: 45px;
        margin: 5px 10px 5px 5px;
      }

      .reviewInfo {
        width: calc(100% - 50px - 10px);

        .reviewerInfo {
          display: flex;
          justify-content: space-between;
          padding: 5px 15px 8px 0px;
          box-sizing: border-box;

          .reviewerNickname {
            font-size: 16px;
            font-weight: 500;
            color: #333;
          }

          .reviewHandlebox {
            font-size: 14px;

            a {
              color: var(--main-color);
              text-decoration: none;
            }
          }
        }

        .reviewDate {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-size: 13px;
          color: #555;

          span + span {
            padding-right: 15px;
          }

          .reviewModifiedDate {
            font-size: 13px;
            color: #888;
          }
        }
      }

      .reviewHandlebox {
        margin-left: 3px;
        text-align: center;

        .reviewHandleButtonContainer {
          display: flex;

          button {
            all: unset;
            cursor: pointer;
            padding: 10px;
            border-radius: 5px;

            height: 15px;
            line-height: 15px;
            text-align: center;
            font-size: 15px;
            letter-spacing: 3px;

            &.modifyButton {
              color: #888;
            }

            &.deleteButton {
              color: #888;
            }
          }
        }
      }
    }
    .reviewComment {
      display: flex;
      font-size: 16px;
      line-height: 1.6;
      color: #333;
      padding: 7px 10px 10px;
      box-sizing: border-box;
    }

    // div:not(:last-child) {
    //   border-bottom: 1px solid #ccc;
    // }
  }
}
.reviewInputContainer {
  display: flex;
  align-items: center;
  padding: 15px 0px;
  box-sizing: border-box;

  .reviewInputAvatar {
    width: 45px;
    height: 45px;
    margin: 5px 10px 5px 5px;
  }

  .reviewInputForm {
    width: 100%;

    .reviewInputBar {
      margin-right: 10px;
      width: calc(100% - 60px);
    }

    .reviewButton {
      width: 50px;
      height: 40px;
      background-color: var(--main-color);
      border: 0;
      color: #fff;
      font-weight: 600;
      border-radius: 5px;
      cursor: pointer;
    }
  }
}

// 유저 리뷰
.usersReviewListButtonContainer {
  display: flex;

  padding: 30px 0;

  width: 100%;
  #usersReviewListButton {
    margin: 30px;
    width: 120px;
    height: 40px;

    border: none;
    display: inline-block;
    padding: 5px;
    border-radius: 15px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-weight: 600;
    font-size: 17px;

    background: var(--sub-1-color);
    color: white;

    &:hover {
      transform: scale(1.1);
      cursor: pointer;
    }
  }
}
