.reviewWrapper {
  display: flex;
  flex-direction: column;
}
.reviewBanner {
  font-size: 24px;
  font-weight: 600;
}

.reviewContainer {
  margin: 20px 0;

  .reviewBox {
    display: flex;
    flex-direction: column;
    margin: 10px;
    border-bottom: 1px solid #ccc;
    //코멘트 구역 구분 가능한 class

    .reviewUserInfo {
      display: flex;
      align-items: center;

      .reviewerAvatar {
        width: 68px;
        height: 68px;
        margin: 5px;
      }

      .reviewInfo {
        .reviewerNickname {
          font-size: 22px;
          padding: 3px;
        }
        .reviewDate {
          display: flex;
          padding: 3px;

          span + span {
            padding-left: 20px;
          }
        }
      }
    }
    .reviewComment {
      display: flex;
      font-size: 24px;
      padding: 20px;
    }

    .reviewHandlebox {
      display: flex;
      padding: 20px;
    }

    // div:not(:last-child) {
    //   border-bottom: 1px solid #ccc;
    // }
  }
}
.reviewInputContainer {
  display: flex;
  align-items: center;

  #reviewInputAvatar {
    width: 40px;
    height: 40px;
    margin: 10px;
  }

  #reviewButton {
    width: 50px;
    height: 30px;
  }
}

// 유저 리뷰
.usersReviewListButtonContainer {
  display: flex;

  padding: 30px 0;

  width: 100%;
  #usersReviewListButton {
    margin: 30px;
    width: 120px;
    height: 40px;

    border: none;
    display: inline-block;
    padding: 5px;
    border-radius: 15px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-weight: 600;
    font-size: 17px;

    background: var(--sub-1-color);
    color: white;

    &:hover {
      transform: scale(1.1);
      cursor: pointer;
    }
  }
}
