.filterContainer {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;

  flex-direction: column;
  box-sizing: border-box;
  width: 400px;
  height: 100%;
  background: #fff;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
}

.searchContainer {
  display: flex;
  position: relative;
  justify-content: center;
  width: 100%;
  padding: 15px 0px;
  box-sizing: border-box;
  border-bottom: 1px solid #eee;

  button[type='submit'] {
    padding-right: 0px;
  }
}

#searchButton {
  z-index: 2;
  position: absolute;
  transform: translate(50%, 50%);
  top: 24%;
  left: 73%;

  border: none;
  background: none;
  padding: 0;
  color: #82878f;
  font-size: 26px;
  font-weight: 600;
  cursor: pointer;

  &:hover {
    color: #535455;
  }
}
