.container {
  width: 100%;
  min-height: calc(100vh - 221px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(0,0,0, 0.5)), url('../../assets/11.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  .errorContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    
    img {
      width: auto; 
      height: 300px;
    }
  }

  .textContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      font-size: 50px;
      font-weight: 500;
      color: white;
      margin-bottom: 10px;
    }
    h2 {
      font-size: 25px;
      font-weight: 500;
      color: white;
      margin-bottom: 50px;
    }

    button {
      width: 200px;
      height: 40px;
      border-radius: 5px;
      border: 0;
      color: #fff;
      font-weight: 600;
      letter-spacing: 1px;
      background-color: var(--main-color);
      cursor: pointer;
    }
  }
}