.scheduleCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  border-radius: 10px;
  color: white;
  text-align: left;
  text-decoration: none;
  background-size: cover;
  box-shadow: 1px 1px 32px 5px rgba(0, 0, 0, 0.11);

  .scheduleCardContent {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .scheduleContent {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 30px;
      z-index: 2;

      .scheduleText {
        div {
          width: 240px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        div + div {
          margin-bottom: 15px;
        }
      }

      .like {
        display: flex;
        flex-direction: column;
        align-items: center;

        .likeIcon {
          margin-bottom: 20px;
          font-size: 40px;
        }

        .trashIcon {
          font-size: 30px;
        }
      }
    }

    .scheduleTitle {
      height: 30px;
      margin-bottom: 20px;
      font-size: 22px;
      font-weight: bold;
    }

    .scheduleDestination {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 30px;
      margin-bottom: 10px;
      z-index: 2;

      .destinationMap {
        display: flex;
        position: relative;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;

        .mapLineContainer {
          display: flex;
          flex-direction: column;
          width: 88%;

          .mapLine {
            border-bottom: 5px dotted white;
          }
        }

        .destinationCount {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          padding: 10px;
          border-radius: 20px;
          color: white;
          background-color: #ef6d00;
        }
      }

      .destinationText {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }
    }

    .image {
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 10px;
      object-fit: cover;
      filter: brightness(60%);
      z-index: 1;
    }
  }

  &:hover {
    cursor: pointer;
    transform: translateY(-10px);
    transition: 0.5s ease-in-out;
  }
}
