.usersReviewContainer {
  display: grid;

  .usersReviewCounter {
    font-size: 16px;
  }

  .alertContainer {
    display: flex;
    margin-top: 80px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #c1c1c1;

    .alertIcon {
      width: 100px;
      height: 100px;
      padding: 20px;
    }
  }

  .usersReviewBox:not(:first-child) {
    margin-top: 20px;
  }

  .usersReviewBox {
    border-bottom: 1px solid #ccc;
    padding-bottom: 24px;

    p + p {
      margin: 10px 0;
    }

    .destinationInfo {
      display: flex;
      position: relative;
      align-items: center;
      padding-bottom: 10px;

      &::before {
        content: 'NO IMAGE';
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 60px;
        color: #fff;
        background-color: #ddd;
        border-radius: 10px;
        font-size: 10px;
        letter-spacing: 1px;
      }
      #reviewImage {
        position: absolute;
        width: 60px;
        height: 60px;
        border-radius: 10px;
      }

      .usersReviewTitle {
        font-size: 20px;
        color: var(--main-color);
        margin-left: 10px;
        text-decoration: none;
      }

      .reviewHandleContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;

        button {
          all: unset;
          cursor: pointer;
          padding: 10px;
          border-radius: 5px;

          height: 20px;
          line-height: 20px;
          text-align: center;
          font-size: 20px;
          letter-spacing: 3px;

          &.deleteButton {
            color: #888;
          }
        }
        button + button {
          margin-left: 8px;
        }

        span {
          margin-left: 3px;
          text-align: center;
        }
      }
    }

    .usersReviewComment {
      font-size: 19px;
      line-height: 1.2;
    }

    .usersReviewCreatedDate {
      font-size: 15px;
    }
  }

  .reviewHandleContainer {
    width: calc(100% - 60px);
  }
}
