.bottomArea {
  height: 220px;
  width: 1200px;
  background-color: rgba(0, 0, 0, 0.39);
  align-items: center;
  text-align: center;
  margin: 30px auto;

  .box {
    width: calc(100% - 10px);
    height: 200px;
  }

  .box h3 {
    background-color: lightgreen;
    width: calc(100% - 10px);
    height: 200px;
    margin: 0px auto;
  }

  .slick-slide {
    margin: 0 1rem;
  }

  button::before {
    color: black !important;
  }
}
