.layout {
  width: 100%;
  height: 550px;
  // min-width: 1280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px;

  .imgArea {
    height: 500px;
    width: 1920px;

    img {
      width: 100%;
      height: 100%;
      opacity: 0.9;
      object-position: bottom;
      object-fit: cover;
    }
  }

  .searchArea {
    top: 0px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    .MuiFormControl-root {
      margin-right: 10px;
    }
  }
}
