.container {
  position: relative;
  width: 1240px;
  align-items: center;
  text-align: center;
  margin: 0px auto 30px;

  .BottomBox {
    position: relative;
    width: calc(100% - 10px);
    height: 300px;
  }

  .imageContainer {
    position: relative;
    width: 390px;
    height: 100%;
    cursor: pointer;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);

    &:hover img {
      transform: scale(1.1);
      transition: all 0.5s;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
      transition: all 0.5s;
    }

    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.9));
      z-index: 1;
      content: '';
      display: block;
      width: 100%;
      height: 60%;
    }
  }

  .text {
    text-align: left;
    position: absolute;
    z-index: 2;
    bottom: 0;
    width: 100%;
    color: white;
    padding: 20px 25px 30px;
    border-radius: 0px 0px 10px 10px;
    box-sizing: border-box;

    // &.text2 {
    //   min-height: 100px;
    //   padding: 20px 25px;
    //   background-color: rgba(0, 0, 0, 0.6);
    // }
    h3 {
      font-size: 26px;
      margin-bottom: 10px;
      font-family: 'WandohopeR';
      white-space: normal;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    p {
      font-size: 15px;
      opacity: 0.9;
      line-height: 1.4;
      white-space: normal;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }

  .arrowBtn {
    position: absolute;
    z-index: 5;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    border: 0;
    transition: transform 0.2s;
    cursor: pointer;

    &:hover {
      transform: scale(1.05) translateY(-50%);
      transition: transform 0.2s;
    }

    svg {
      font-size: 18px;
      color: #aaa;
      font-weight: 500;
    }

    &.prevBtn {
      left: -20px;
    }

    &.nextBtn {
      right: 0px;
    }
  }

  .category {
    position: absolute;
    text-align: left;
    top: 15px;
    right: 15px;
    color: white;
    border-radius: 20px;
    display: inline-block;
    padding: 7px 9px;
    font-size: 12px;
  }

  .category-12 {
    background-color: #ff4500;
  }

  .category-14 {
    background-color: #8a2be2;
  }

  .category-15 {
    background-color: #00ff00;
  }

  .category-25 {
    background-color: #008080;
  }

  .category-28 {
    background-color: #40e0d0;
  }

  .category-32 {
    background-color: #ffd700;
  }

  .category-38 {
    background-color: #8b4513;
  }

  .category-39 {
    background-color: #1e90ff;
  }
}

.fadeInSlider {
  width: 100%;
  height: 600px;

  .customBox {
    width: 100%;
    height: 100%;

    .customImageContainer {
      width: 100%;
      height: 100% !important;

      img {
        width: 100%;
        height: 600px;
        object-fit: cover;
        object-position: center;
        filter: brightness(0.8);
        cursor: auto;
      }
    }
  }
}
