.layout {
  position: sticky;
  top: 0;
  z-index: 1001;
  background: #fff;
  width: 100%;
  height: 80px;
  min-width: 1280px;
  border-bottom: 1px solid #ddd;

  &.active {
    position: fixed !important;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    border: none;
  }

  &.float {
    position: absolute;
    top: 0;
    z-index: 10;
    border-bottom: 0;
    background: transparent;

    .layoutLeft {
      .logo {
        color: #fff;
      }

      nav ul li a {
        color: #fff;
      }
    }

    .layoutRight {
      .auth {
        color: #fff;

        p {
          color: #fff;
        }

        button svg {
          color: #fff;
        }

        a span {
          color: #fff;
        }
      }

      .weather a {
        color: rgba(255, 255, 255, 0.8);
        font-weight: normal;
      }
    }
  }

  .body {
    margin: 0 auto;
    width: 1280px;
    height: 100%;
    display: flex;
  }

  .layoutLeft {
    display: flex;
    align-items: center;
    flex: 1;

    .logo {
      font-family: 'WandohopeR';
      font-size: 30px;
      font-weight: 700;
      color: #ef6d00;
      text-decoration: none;
    }

    nav {
      padding-left: 60px;

      ul {
        display: flex;
        list-style: none;
        gap: 20px;

        a {
          padding: 0 10px 0 10px;
          color: #333;
          font-weight: 500;
          text-decoration: none;
        }
      }
    }
  }

  .layoutRight {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;

    .weather {
      display: flex;
      align-items: center;
      margin-right: 20px;

      img {
        margin-right: 5px;
        width: 30px;
      }

      a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: #666;
        font-weight: 500;
        font-size: 14px;
      }
    }

    .weatherPopup {
      position: absolute;
      top: 60px;
      left: 1200px;
      width: 300px;
      background-color: white;
      border: 1px solid #ccc;
      padding: 10px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
      animation: fadeIn 1s;

      img {
        width: 100%;
        height: 100%;
      }
    }

    @keyframes fadeIn {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }

    .auth {
      position: relative;
      display: flex;
      align-items: center;

      .menu {
        li {
          font-size: 8px;
        }
      }

      button {
        background: transparent;
        border: 0;
        cursor: pointer;

        svg {
          font-size: 30px;
          color: #333;
        }

        .Avatar {
          width: 40px;
          height: 40px;
          font-size: 15px;
          font-weight: bold;
          margin-left: 10px;
        }
      }

      a {
        padding: 0 15px 0 15px;
        text-decoration: none;
        color: inherit;
      }
    }

  }
}
