.buttons {
  li {
    margin-bottom: 10px;

    button {
      width: 100%;
      height: 40px;
      border-radius: 5px;
      border: 0;
      color: #fff;
      font-weight: 600;
      letter-spacing: 1px;
      background-color: var(--main-color);
      cursor: pointer;

      &.withdrawalBtn {
        background-color: red;
      }
    }
  }
}
