.toListButton {
  all: unset;
  width: 40%;
  margin: 0 20px 20px 0;
  padding: 8px 3px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  border: 2px solid var(--main-color);
  border-radius: 10px;

  a {
    text-decoration: none;
    color: var(--main-color);
  }
}

.toMyListButton {
  all: unset;
  width: 45%;
  margin: 0 0 20px 0;
  padding: 8px 3px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  border: 2px solid var(--main-color);
  border-radius: 10px;

  a {
    text-decoration: none;
    color: var(--main-color);
  }
}
