.destinationsTitle {
  grid-row: 5;
  grid-column: 1 / 4;
  display: inline;
  margin: 0 0 20px 0;
  font-weight: bold;
  font-size: 26px;

  div {
    display: inline;
  }

  .destinationCount {
    color: var(--main-color);
    margin: 0 0 0 10px;
  }
}

.destinationsContainer {
  grid-row: 6;
  grid-column: 1 / 2;
  height: 500px;

  .allDestinations {
    margin: 0 0 20px 0;
  }

  .destinationsList {
    height: 95%;
    margin: 0 10px 0 0;
    overflow-x: hidden;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 8px;
      background: #ffffff;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 3.5px;
      background-color: #ced4da;

      &:hover {
        background-color: #adb5bd;
      }
    }
    &::-webkit-scrollbar-track {
      background: #ffffff;
    }

    .destinationsDay {
      $font-size--base: 1rem;

      margin: 0 0 24px 0;
      user-select: none;

      li {
        counter-increment: circle-counter;
        font-size: 16px;
        margin: 14px 0;
        padding: 0 0 0 1.5rem;
        font-size: 16px;
        font-weight: 400;

        &:before {
          content: counter(circle-counter);
          background-color: mix(#fff, #ef6d00, 20%);
          width: $font-size--base * 1.5;
          height: $font-size--base * 1.5;
          border-radius: 50%;
          display: inline-block;
          font-size: $font-size--base * 0.75;
          line-height: $font-size--base * 1.5;
          color: #ffffff;
          text-align: center;
          margin-right: 0.5rem;
          position: relative;
          top: -2px;
        }

        .number-circle-list--list-item {
          margin-left: 0.25rem;
        }
      }

      .noDestination {
        margin: 1rem 0 0 1.5rem;
      }
    }
  }

  label {
    display: flex;
    cursor: pointer;
    font-weight: 500;
    position: relative;
    overflow: hidden;

    input {
      position: absolute;
      left: -9999px;
      &:checked + span {
        background-color: mix(#fff, #ef6d00, 84%);
        &:before {
          box-shadow: inset 0 0 0 0.4375em #ef6d00;
        }
      }
    }

    span {
      display: flex;
      align-items: center;
      padding: 0.375em 0.75em 0.375em 0.375em;
      border-radius: 99em;
      transition: 0.25s ease;
      font-size: 18px;

      &:hover {
        background-color: mix(#fff, #ef6d00, 84%);
      }

      &:before {
        display: flex;
        flex-shrink: 0;
        content: '';
        background-color: #fff;
        width: 1.5em;
        height: 1.5em;
        border-radius: 50%;
        margin-right: 0.375em;
        transition: 0.25s ease;
        box-shadow: inset 0 0 0 0.125em #ef6d00;
      }
    }
  }
}
