.iconsContainer {
  justify-self: self-end;
  align-self: self-start;
  font-size: 26px;

  #likes {
    font-size: 26px;
    color: rgb(231, 49, 49);

    #likesIcon {
      margin: 0 5px 0 0;
      font-size: 20px;
    }
  }

  #reviewNumber {
    font-size: 26px;
    color: rgb(75, 74, 74);

    #reviewNumberIcon {
      margin: 0 5px 0 20px;
      font-size: 20px;
    }
  }
}
