.scheduleInfoContainer {
  grid-column: 1 / 3;
  grid-row: 2 / 4;
  margin: 30px 0 40px 0;

  .duration {
    font-size: 24px;
  }

  .title {
    margin: 30px 0 30px 0;
    font-size: 40px;
    font-weight: bold;
  }

  .writer {
    display: flex;
    flex-direction: row;
    margin: 0 0 30px 0;
    font-size: 20px;
    align-items: center;

    .writerAvatar {
      margin: 0 20px 0 10px;
    }
  }

  .date {
    margin: 0 0 30px 0;
    font-size: 18px;
  }
}
