.reviewsTitle {
  grid-row: 7;
  margin: 150px 0 24px 0;
  font-size: 26px;
  font-weight: bold;

  div {
    display: inline;
  }

  .commentsCount {
    margin: 0 0 0 10px;
    color: var(--main-color);
  }
}

.reviewsContainer {
  grid-row: 8;
  height: 500px;
  grid-column: 1 / 4;
  margin: 20px 0 0 0;

  .reviewsList {
    width: 100%;
    height: 100%;
    overflow-y: scroll;

    .review {
      padding: 24px 20px;
      border: 1px solid var(--sub-1-color);
      border-radius: 10px;
      margin: 0 0 10px 0;

      .commentHeader {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 18px;

        .commentSubheader {
          flex: 1 1;
          display: flex;
          flex-direction: column;
          gap: 10px;
          font-size: 16px;
          font-weight: bold;

          .createdAt {
            color: gray;
            font-size: 14px;
            font-weight: normal;
          }
        }

        button {
          all: unset;
          cursor: pointer;

          &.updateButton {
            font-size: 18px;
            margin: 0 20px 0 0;
            color: var(--sub-1-color);
          }

          &.deleteButton {
            font-size: 18px;
            color: var(--main-color);
          }

          &.updateReviewCancelButton {
            margin: 0 14px 0 0;
            padding: 5px 10px;
            color: var(--sub-1-color);
            border: 1px solid var(--sub-1-color);
            border-radius: 10px;
          }

          &.updateReviewButton {
            padding: 5px 10px;
            color: var(--main-color);
            border: 1px solid var(--main-color);
            border-radius: 10px;
          }
        }

        .updateOther {
          color: gray;
          font-size: 14px;
        }
      }

      .comment {
        margin: 24px 0 0 0;
      }

      .updateInput {
        margin: 24px 0 0 0;
        width: 100%;
      }
    }

    &::-webkit-scrollbar {
      width: 8px;
      background: #ffffff;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 3.5px;
      background-color: #ced4da;

      &:hover {
        background-color: #adb5bd;
      }
    }
    &::-webkit-scrollbar-track {
      background: #ffffff;
    }
  }

  .noComments {
    font-size: 20px;
  }
}
