.reviewsTitle {
  grid-row: 10;
  grid-column: 1/4;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 100px 0 0 0;
  font-weight: 600;
  color: #333;
  font-size: 24px;
  padding-bottom: 20px;
  margin-bottom: 5px;
  border-bottom: 1px solid #ddd;

  .commentsIcon {
    margin: 0 10px 0 0;
    color: #111;
  }

  .commentsCount {
    margin: 0 0 0 7px;
    color: var(--main-color);
  }
}

.reviewsContainer {
  grid-row: 11;
  grid-column: 1 / 4;

  .reviewsList {
    padding: 0px 20px 0px 10px;

    .review {
      padding: 25px 0px;

      &:not(:last-child) {
        border-bottom: 1px solid #efefef;
      }

      .commentHeader {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 18px;

        .commentSubheader {
          flex: 1 1;
          display: flex;
          flex-direction: column;
          gap: 10px;
          font-size: 16px;
          font-weight: bold;

          .author {
            color: #333;
          }

          .createdAt {
            color: gray;
            font-size: 14px;
            font-weight: normal;
          }
        }

        button {
          all: unset;
          cursor: pointer;
          font-size: 15px;
          letter-spacing: 1px;
          font-weight: 500;

          &.updateButton {
            font-size: 18px;
            margin: 0 20px 0 0;
            color: #999;
          }

          &.deleteButton {
            font-size: 18px;
            color: #999;
          }

          &.updateReviewCancelButton {
            color: #555;
          }

          &.updateReviewButton {
            margin-left: 10px;
            color: var(--main-color);
          }
        }

        .updateOther {
          color: gray;
          font-size: 14px;
        }
      }

      .comment {
        margin: 20px 0 0 0;
        padding-left: 10px;
        box-sizing: border-box;
        word-wrap: break-word;
      }

      .updateInput {
        margin: 24px 0 0 0;
        width: 100%;
      }
    }

    &::-webkit-scrollbar {
      width: 5px;
      background: #ffffff;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 3.5px;
      background-color: #ced4da;

      &:hover {
        background-color: #adb5bd;
      }
    }
    &::-webkit-scrollbar-track {
      background: #ffffff;
    }
  }

  .noComments {
    width: 100%;
    height: 150px;
    padding: 30px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #999;
    font-weight: 500;

    svg {
      font-size: 50px;
      margin-bottom: 15px;
    }
  }
}
