.reviewsContainer {
  height: 400px;
  grid-column: 1 / 4;
  margin: 60px 0 10px 0;

  .reviewsTitle {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .reviewsList {
    width: 100%;
    height: 80%;
    overflow-y: scroll;

    .review {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 10px 0 10px 0;
      border-bottom: 1px solid #ddd;

      .nickname {
        margin: 0 20px 0 10px;
      }

      .createdAt {
        margin-left: auto;
        margin-right: 10px;
        color: gray;
      }
    }

    &::-webkit-scrollbar {
      width: 8px;
      background: #ffffff;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 3.5px;
      background-color: #ced4da;

      &:hover {
        background-color: #adb5bd;
      }
    }
    &::-webkit-scrollbar-track {
      background: #ffffff;
    }
  }
}
