.container {
  margin: 40px auto;
  width: 1000px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.mapContainer {
  grid-row: 6;
  grid-column: 2 / 4;
  height: 530px;
}
