.container {
  margin: 40px auto;
  width: 1000px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.backButton {
  all: unset;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 35%;
  margin: 0 0 20px 0;
  padding: 10px 5px;
  font-size: 20px;
  background-color: var(--main-color);
  border-radius: 10px;

  a {
    text-decoration: none;
    color: white;
  }

  .backIcon {
    margin: 0 10px 0 0;
  }
}

.mapContainer {
  grid-column: 2 / 4;
  height: 530px;
  padding: 90px 0 0 0;
}
