.container {
  margin: 40px auto;
  width: 1000px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.imageWrapper {
  width: 100%;
  height: 400px;
  grid-column: 1 / 4;
  text-align: center;
}

.image {
  width: 100%;
  height: 400px;
  border-radius: 10px;
}

.scheduleInfoWrapper {
  grid-column: 1 / 3;
  grid-row: 2 / 4;
  margin: 30px 0 40px 0;

  .duration {
    font-size: 24px;
  }

  .title {
    margin: 30px 0 30px 0;
    font-size: 40px;
    font-weight: bold;
  }

  .writer {
    display: flex;
    flex-direction: row;
    margin: 0 0 30px 0;
    font-size: 20px;
    align-items: center;

    .writerAvatar {
      margin: 0 20px 0 10px;
    }
  }

  .date {
    margin: 0 0 30px 0;
    font-size: 18px;
  }
}

.editButtonWrapper {
  justify-self: self-end;
  align-self: self-start;
  margin-top: 20px;
  padding: 20px 0 0 0;

  .editButton {
    width: 50%;
    height: 40px;
  }
}

.iconsWrapper {
  justify-self: self-end;
  align-self: self-start;
  font-size: 26px;

  #likes {
    font-size: 26px;
    color: red;

    #likesIcon {
      margin: 0 5px 0 0;
      font-size: 20px;
    }
  }

  #reviewNumber {
    font-size: 26px;

    #reviewNumberIcon {
      margin: 0 5px 0 20px;
      font-size: 20px;
    }
  }
}

.destinationsWrapper {
  grid-column: 1 / 2;
  height: 500px;

  .destinationsTitle {
    margin: 0 0 20px 0;
    font-weight: bold;
    font-size: 24px;
  }

  .destinationsList {
    height: 85%;
    margin: 20px 0 0 0;
    overflow-x: hidden;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 8px;
      background: #ffffff;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 3.5px;
      background-color: #ced4da;

      &:hover {
        background-color: #adb5bd;
      }
    }
    &::-webkit-scrollbar-track {
      background: #ffffff;
    }

    .destinationsDay {
      $spacer: 1rem;
      $gray: #888;
      $gray--lightest: lighten($gray, 35%);
      $font-size--base: 1rem;
      $default-color: black;

      margin: 0 0 30px 0;
      font-size: 20px;
      list-style: none;
      padding-left: $spacer;
      counter-reset: circle-counter;
      border-left: 2px solid $gray--lightest;

      li {
        font-size: 16px;
        margin: 10px 0 10px 0;

        counter-increment: circle-counter;
        margin-bottom: $spacer * 0.25;

        &:before {
          content: counter(circle-counter);
          background-color: $gray--lightest;
          width: $font-size--base * 1.5;
          height: $font-size--base * 1.5;
          border-radius: 50%;
          display: inline-block;
          font-size: $font-size--base * 0.75;
          line-height: $font-size--base * 1.5;
          color: $default-color;
          text-align: center;
          margin-right: $spacer * 0.5;
          position: relative;
          top: -2px;
        }

        &:last-child {
          margin-bottom: 0;
        }

        .number-circle-list--list-item {
          margin-left: $spacer * 0.25;
        }
      }
    }
  }
}

.mapWrapper {
  grid-column: 2 / 4;
  height: 530px;
}

.reviewsWrapper {
  height: 300px;
  grid-column: 1 / 4;
  margin: 60px 0 10px 0;

  .reviewsTitle {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .reviewsList {
    width: 80%;
    height: 80%;
    overflow-y: scroll;

    .review {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 20px 0;

      .reviewWriter {
        margin: 0 20px 0 10px;
      }
    }

    &::-webkit-scrollbar {
      width: 8px;
      background: #ffffff;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 3.5px;
      background-color: #ced4da;

      &:hover {
        background-color: #adb5bd;
      }
    }
    &::-webkit-scrollbar-track {
      background: #ffffff;
    }
  }
}

.reviewInputWrapper {
  grid-column: 1 / 4;
  display: flex;
  flex-direction: row;
  margin: 20px 0 0 0;

  .reviewsInputWriter {
    margin: 0 20px 0 10px;
    vertical-align: top;
  }

  .reviewsInputText {
    width: 70%;
    height: 40px;
  }

  .reviewsInputButton {
    width: 10%;
    height: 40px;
    margin: 0 0 0 20px;
    vertical-align: top;
  }
}
