.modalBackground {
  position: fixed;
  z-index: 1002;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.alertModal {
  z-index: 20;
}

.modalLayout {
  position: relative;
  background-color: #fff;
  border: 1px solid #888;
  display: flex;
  justify-content: center;
  width: 704px;
  border-radius: 10px;
  padding: 0px 20px 25px;
  align-items: center;
  // height: 600px;

  h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    color: #666;
    font-weight: 500;
    letter-spacing: 1px;
  }
}

.calendar {
  border-bottom: 1px solid #eee;
  box-sizing: border-box;
  height: 420px;

  .rdrDateDisplayWrapper {
    display: flex;
    flex-direction: column;
  }
}

.textContainer {
  display: flex;
  width: 100%;

  .texts {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 65%;
    padding: 25px 20px 10px 10px;
    box-sizing: border-box;

    //mui input
    > div {
      fieldset {
        border-color: #ddd;
      }

      &:first-child {
        margin-bottom: 20px;
      }
    }
  }

  .dates {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 35%;
    padding: 25px 20px 10px;
    box-sizing: border-box;
    border-left: 1px solid #eee;

    p {
      display: flex;
      flex-direction: column;
      width: 100%;
      color: #333;
      font-size: 15px;
      letter-spacing: 1px;
      margin-bottom: 20px;

      span {
        font-weight: 500;
        color: var(--main-color);
        font-size: 13px;
        margin-bottom: 5px;
      }
    }
  }
}

.submitBtn {
  width: 100%;
  height: 40px;
  border: 0px;
  background: var(--main-color);
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.closeBtn {
  position: absolute;
  top: 15px;
  right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: 0;

  svg {
    font-size: 25px;
    color: #555;
  }
}
