.destinationList {
  // margin-bottom: 10px;
  display: flex;
  // flex-direction: column;
  align-content: flex-start;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  // position: relative;
  // height: 600px;
  width: 80%;
  overflow-y: scroll;
  margin-top: 10px;
  margin-left: 8px;
  // padding-top: 50px;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(
      0,
      0,
      0,
      0.1
    ); // Change this to match scrollbar color
    border-radius: 20px; // If you want round scrollbars
    border: 3px solid transparent; // Add this if you want round scrollbars
  }

  &:hover::-webkit-scrollbar-thumb {
    background-color: rgba(
      0,
      0,
      0,
      0.4
    ); // Change this to match scrollbar color on hover
    // background-color: #7c9070; // Change this to match scrollbar color on hover
  }
}

.destination {
  // background-color: #7c9070;
  // color: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 86%;
  font-size: 16px;
  margin: 10px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.addDestinationBtn {
  margin: 10px 0;
}

.alertModal {
  z-index: 20;
}

.deleteButton {
  all: unset;
  cursor: pointer;
  margin-left: auto;
  font-size: 20px;
  color: #ef6d00;
}
