.scheduleContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow-x: auto;
  scrollbar-width: thin;
  width: 1000px;
  height: auto;
  margin: 20px auto;
  text-align: center;

  .scheduleListTitle {
    margin: 20px;
    text-align: left;
    font-size: 30px;
    font-weight: bold;
  }

  .scheduleCardContainer {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: auto;

    .scheduleAdd {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 300px;
      padding: 30px;
      border-radius: 10px;
      background-color: lightgray;
      font-size: 40px;

      &:hover {
        cursor: pointer;
        transform: translateY(-10px);
        transition: 0.5s ease-in-out;
      }
    }
  }

  .scheduleFilter {
    margin: 20px;
    text-align: left;
  }
}

.sortButton {
  height: 40px;
  width: 90px;
  border: 0;
  border-radius: 8px;
  background-color: white;
  font-size: 20px;
  font-weight: bold;
}

.selected {
  background-color: lightgray;
}
