.scheduleCardLists {
  display: flex;
  // grid-template-columns: 1fr 1fr;
  flex-direction: column;
  width: 100%;
  // height: 100%;
  // position: relative;
}

.scheduleCard {
  display: flex;
  // flex-direction: column;
  // flex: 0 0 auto;
  justify-content: space-between;
  height: 100%;
  padding: 30px;
  border-radius: 10px;
  color: white;
  text-align: left;
  text-decoration: none;
  background-size: cover;
  background-position: center;
  // box-shadow: 1px 1px 32px 5px rgba(0, 0, 0, 0.11);
  margin: 10px;
  position: relative;

  .scheduleContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .scheduleText {
      div + div {
        margin-bottom: 15px;
      }
    }
  }

  .scheduleTitle {
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: bold;
  }

  .scheduleDate {
    font-size: 20px;
    font-weight: 400;
    font-style: italic;
  }

  .scheduleDuration {
    font-size: 15px;
    // color: rgb(205, 203, 203);
  }

  &:hover {
    cursor: pointer;
    transform: translateY(-10px);
    // transform: scale(1.05);
    transition: 0.5s ease-in-out;
  }
}

.daysContainer {
  position: relative;
  z-index: 10;
  display: flex;
  // flex-direction: column;
  margin: 10px 0;
}

.arrowSpace {
  width: 35px;
}

.buttonContainer {
  display: flex;
  // width: auto;
  // flex-grow: 1;
  // overflow: visible;
  z-index: 5;

  .dayButton {
    // display: flex;
    position: relative;
    width: 75px;
    // margin: 0 2px;
    // z-index: 1;
  }
}

.scheduleDestination {
  // margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  // flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  // position: absolute;
  height: 600px;
  overflow-y: auto;
  padding-left: 50px;
}

.arrowBtn {
  position: relative;
  z-index: 10;
  // top: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  cursor: pointer;
  // z-index: 20;

  &:hover {
    transform: scale(1.15);
    transition: transform 0.2s;
    color: var(--main-color);
    border-radius: 50%;
    // border: 0;
    background-color: #ffffff;
  }

  svg {
    font-size: 33px;
    color: var(--main-color);
    z-index: 15;
    border-radius: 50%;
    background-color: #ffffff;
  }

  &.prevBtn {
    // z-index: 20;
    margin-left: 10px;
  }

  &.nextBtn {
    // z-index: 20;
    margin-left: -10px;
  }
}
