.scheduleContainer {
  display: flex;
  flex-direction: column;
  // flex-wrap: nowrap;
  justify-content: flex-start;
  overflow: auto;
  scrollbar-width: thin;
  width: 100%;
  height: 100%;
  // margin: 20px auto;
  text-align: center;
  // padding-right: 10px;
  // border-right: 2px solid gray;
  background-color: #ffffff;

  .scheduleListTitle {
    margin: 20px;
    text-align: left;
    font-size: 30px;
    font-weight: bold;
  }

  .scheduleCardContainer {
    display: flex;
    // grid-template-columns: 1fr 1fr;
    flex-direction: column;
    // 일정 카드 너비
    width: 100%;
    // max-height: 600px;
    // height: 100%;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba(
        0,
        0,
        0,
        0.1
      ); // Change this to match scrollbar color
      border-radius: 20px; // If you want round scrollbars
      border: 3px solid transparent; // Add this if you want round scrollbars
    }

    &:hover::-webkit-scrollbar-thumb {
      background-color: rgba(
        0,
        0,
        0,
        0.4
      ); // Change this to match scrollbar color on hover
      // background-color: #7c9070; // Change this to match scrollbar color on hover
    }
  }

  .scheduleFilter {
    margin-bottom: 20px;
    text-align: left;
    position: sticky;
    top: 0;
    z-index: 10;
  }
}

.sortButton {
  height: 40px;
  width: auto;
  border: 0;
  border-radius: 8px;
  background-color: white;
  font-size: 20px;
  font-weight: bold;
}
