.modalBackground {
  position: fixed;
  z-index: 1002;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalLayout {
  background-color: #ffffff;
  padding: 50px;
  border: 1px solid #888;
  width: 1000px;
  max-height: 600px;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  // overflow-y: auto;
  // overflow-x: hidden;
  border-radius: 10px;
  // z-index: 10;
  // overflow: visible;
}

.scheduleListContainer {
  // overflow-y: auto;
  width: 100%;
  height: 600px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.closeBtn {
  position: absolute;
  top: 15px;
  right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: 0;

  svg {
    font-size: 25px;
    color: #555;
  }
}
