.container {
  margin: 40px auto;
  width: 1000px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.image-wrapper {
  width: 100%;
  height: 400px;
  grid-column: 1 / 4;
  text-align: center;
}

.image {
  width: 100%;
  height: 400px;
  border-radius: 10px;
}

.duration {
  grid-column: 1 / 3;
  margin: 20px 0 0 0;
  font-size: 26px;
}

.edit-button-wrapper {
  margin-top: 20px;
  text-align: end;

  .edit-button {
    width: 50%;
    height: 40px;
  }
}

.title {
  grid-column: 1 / 3;
}

.icons-wrapper {
  grid-column: 3;
  text-align: end;
  font-size: 26px;

  #likes {
    font-size: 26px;
    color: red;

    #likes-icon {
      margin: 0 5px 0 0;
      font-size: 20px;
    }
  }

  #review-number {
    font-size: 26px;

    #review-number-icon {
      margin: 0 5px 0 20px;
      font-size: 20px;
    }
  }
}

.writer {
  grid-column: 1;
  margin: 10px 0 30px 0;
}

.date {
  grid-column: 1 / 2;
  margin: 0 0 20px 0;
}

.description-wrapper {
  grid-column: 1 / 4;
  margin-bottom: 20px;
}

.destinations-wrapper {
  grid-column: 1 / 2;
  height: 500px;
  margin-top: 20px;
  margin-bottom: 20px;

  .destinations-title {
    margin: 0 0 20px 0;
    font-weight: bold;
    font-size: 24px;
  }

  .destinations-list {
    height: 90%;
    overflow-x: hidden;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 8px;
      background: #ffffff;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 3.5px;
      background-color: #ced4da;

      &:hover {
        background-color: #adb5bd;
      }
    }
    &::-webkit-scrollbar-track {
      background: #ffffff;
    }

    .destinations-day {
      $spacer: 1rem;
      $gray: #888;
      $gray--lightest: lighten($gray, 35%);
      $font-size--base: 1rem;
      $default-color: black;

      font-size: 20px;
      list-style: none;
      padding-left: $spacer;
      counter-reset: circle-counter;

      li {
        font-size: 16px;
        margin: 10px 0 10px 0;

        counter-increment: circle-counter;
        margin-bottom: $spacer * 0.25;

        &:before {
          content: counter(circle-counter);
          background-color: $gray--lightest;
          width: $font-size--base * 1.5;
          height: $font-size--base * 1.5;
          border-radius: 50%;
          display: inline-block;
          font-size: $font-size--base * 0.75;
          line-height: $font-size--base * 1.5;
          color: $default-color;
          text-align: center;
          margin-right: $spacer * 0.5;
          position: relative;
          top: -2px;
        }

        &:last-child {
          margin-bottom: 0;
        }

        .number-circle-list--list-item {
          margin-left: $spacer * 0.25;
        }
      }
    }
  }
}

.map {
  grid-column: 2 / 4;
  display: flex;
  height: 500px;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  font-size: 40px;
}

.reviews-wrapper {
  height: 300px;
  grid-column: 1 / 4;
  margin: 40px 0 20px 0;

  .reviews-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .reviews-list {
    width: 80%;
    height: 80%;
    overflow-y: scroll;

    .review {
      margin: 20px 0;

      .review-writer {
        margin: 0 20px 0 10px;
      }

      .review-comment {
        color: blue;
      }
    }

    &::-webkit-scrollbar {
      width: 8px;
      background: #ffffff;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 3.5px;
      background-color: #ced4da;

      &:hover {
        background-color: #adb5bd;
      }
    }
    &::-webkit-scrollbar-track {
      background: #ffffff;
    }
  }
}

.review-input-wrapper {
  grid-column: 1 / 4;
  margin: 20px 0 0 0;

  .reviews-input-writer {
    margin: 0 20px 0 10px;
    vertical-align: top;
  }

  .reviews-input-text {
    width: 70%;
    height: 40px;
  }

  .reviews-input-button {
    width: 10%;
    height: 40px;
    margin: 0 0 0 20px;
    vertical-align: top;
  }
}
