.destinationsTitle {
  grid-row: 4;
  grid-column: 1;
  display: flex;
  flex-direction: row;
  margin: 0 0 20px 0;
  font-weight: 600;
  color: #333;
  font-size: 24px;
  padding-bottom: 10px;

  .destinationsIcon {
    margin: 0 8px 0 0;
    color: #111;
  }
}

.addDestinationButton {
  grid-row: 4;
  grid-column: 3;
  justify-self: self-end;
  width: 70%;
  padding: 12px 0;
  background-color: #ef6c00;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;

  a {
    text-decoration: none;
    color: #ffffff;
  }
}

.destinationsContainer {
  grid-column: 1 / 2;
  height: 600px;

  .allDestinations {
    color: #333;
    font-size: 17px;
  }

  .destinationsList {
    height: 85%;
    margin: 20px 0 0 0;
    overflow-x: hidden;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 5px;
      background: #ffffff;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 3.5px;
      background-color: #ced4da;

      &:hover {
        background-color: #adb5bd;
      }
    }
    &::-webkit-scrollbar-track {
      background: #ffffff;
    }

    .destinationsDay {
      flex-direction: column;
      margin: 0 0 24px 0;
      font-size: 20px;
      user-select: none;

      .destination {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 90%;
        font-size: 16px;
        margin: 10px 0 10px 0;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);

        .gripIcon {
          margin: 0 10px 0 0;
          color: gray;
        }

        .deleteButton {
          all: unset;
          cursor: pointer;
          margin-left: auto;
          font-size: 20px;
          color: var(--sub-1-color);
        }
      }
    }
  }

  label {
    display: flex;
    cursor: pointer;
    font-weight: 500;
    position: relative;
    overflow: hidden;

    input {
      position: absolute;
      left: -9999px;
      &:checked + span {
        background-color: mix(#fff, #ef6d00, 84%);
        &:before {
          box-shadow: inset 0 0 0 0.4375em #ef6d00;
        }
      }
    }

    span {
      display: flex;
      align-items: center;
      padding: 0.375em 0.75em 0.375em 0.375em;
      border-radius: 99em;
      transition: 0.25s ease;
      font-size: 17px;
      letter-spacing: 1px;
      color: #333;

      &:hover {
        background-color: mix(#fff, #ef6d00, 84%);
      }

      &:before {
        display: flex;
        flex-shrink: 0;
        content: '';
        background-color: #fff;
        width: 1.5em;
        height: 1.5em;
        border-radius: 50%;
        margin-right: 0.375em;
        transition: 0.25s ease;
        box-shadow: inset 0 0 0 0.125em #ef6d00;
      }
    }

    p {
      align-self: center;
      margin-left: auto;
      margin-right: 10px;
      font-size: 14px;
      font-weight: 400;
    }
  }
}
