.imageContainer {
  grid-column: 1 / 4;
  display: inline-block;
  position: relative;
  width: 100%;
  height: 400px;
  text-align: center;
  overflow: hidden;
  border-radius: 10px;

  img {
    width: 100%;
    height: 400px;
    border-radius: 10px;
    cursor: pointer;
    object-fit: cover;
  }

  &:hover {
    ::after {
      display: block;
    }

    img {
      transform: scale(1.1);
      transition: 1s;
      filter: brightness(70%);
    }

    div {
      display: block;
      position: absolute;
      transform: translate(-50%, -50%);
      color: #fff;
      z-index: 1;
      cursor: pointer;

      &.updateMessage {
        top: 45%;
        left: 50%;
        font-weight: bold;
        font-size: 40px;
      }

      &.updateSizeMessage {
        top: 60%;
        left: 50%;
        font-weight: bold;
        font-size: 20px;
      }

      &.deleteButton {
        bottom: 80%;
        left: 95%;
        font-weight: bold;
        font-size: 30px;
      }
    }
  }

  ::after {
    display: none;
    content: '';
    position: absolute;
    z-index: 10;
  }

  input {
    display: none;
  }
}
