.container {
  margin: 40px auto;
  width: 1000px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.image-wrapper {
  grid-column: 1 / 4;
  display: inline-block;
  position: relative;
  width: 100%;
  height: 400px;
  text-align: center;
  overflow: hidden;
  border-radius: 10px;

  &:hover {
    ::after {
      display: block;
    }

    img {
      transform: scale(1.1);
      transition: 1s;
      filter: brightness(70%);
    }

    p {
      display: block;
      position: absolute;
      top: 190px;
      left: 320px;
      color: #fff;
      z-index: 20;
      font-weight: bold;
      font-size: 40px;
    }
  }

  ::after {
    display: none;
    content: '';
    position: absolute;
    z-index: 10;
  }

  p {
    display: none;
  }
}

.image {
  width: 100%;
  height: 400px;
  cursor: pointer;
}

.duration-wrapper {
  grid-column: 1 / 3;
  margin: 30px 0 0 0;

  .duration {
    margin: 0 10px 0 0;
    font-size: 24px;
  }

  .duration-edit {
    font-size: 28px;
  }
}

.duration-edit-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 700px;
  height: 470px;
  padding: 20px;
  border-radius: 20px;
  background-color: #ffffff;

  p {
    font-size: 20px;
  }

  .duration-edit-date {
    margin: 20px 0;
  }

  button {
    float: right;
  }
}

.schedule-info-wrapper {
  grid-column: 1 / 3;
  margin: 0 0 60px 0;

  .title {
    width: 100%;
    margin: 30px 0 30px 0;
    font-size: 40px;
    font-weight: bold;
  }

  .writer {
    margin: 0 0 30px 0;
    font-size: 24px;
  }

  .date {
    margin: 0 0 30px 0;
    font-size: 18px;
  }

  .description {
    width: 100%;
    height: 80px;
  }
}

.public-status {
  justify-self: center;
}

.destinations-wrapper {
  grid-column: 1 / 2;
  height: 500px;

  .destinations-title {
    margin: 0 0 20px 0;
    font-weight: bold;
    font-size: 24px;
  }

  .destinations-list {
    height: 85%;
    margin: 20px 0 0 0;
    overflow-x: hidden;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 8px;
      background: #ffffff;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 3.5px;
      background-color: #ced4da;

      &:hover {
        background-color: #adb5bd;
      }
    }
    &::-webkit-scrollbar-track {
      background: #ffffff;
    }

    .destinations-day {
      $spacer: 1rem;
      $gray: #888;
      $gray--lightest: lighten($gray, 35%);
      $font-size--base: 1rem;
      $default-color: black;

      margin: 0 0 30px 0;
      font-size: 20px;
      list-style: none;
      padding-left: $spacer;
      counter-reset: circle-counter;
      border-left: 2px solid $gray--lightest;

      li {
        font-size: 16px;
        margin: 10px 0 10px 0;

        counter-increment: circle-counter;
        margin-bottom: $spacer * 0.25;

        &:before {
          content: counter(circle-counter);
          background-color: $gray--lightest;
          width: $font-size--base * 1.5;
          height: $font-size--base * 1.5;
          border-radius: 50%;
          display: inline-block;
          font-size: $font-size--base * 0.75;
          line-height: $font-size--base * 1.5;
          color: $default-color;
          text-align: center;
          margin-right: $spacer * 0.5;
          position: relative;
          top: -2px;
        }

        &:last-child {
          margin-bottom: 0;
        }

        .number-circle-list--list-item {
          margin-left: $spacer * 0.25;
        }
      }
    }
  }
}

.map {
  grid-column: 2 / 4;
  display: flex;
  height: 530px;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  text-align: center;

  div {
    font-size: 20px;
    margin: 0 10px;
  }
}

.confirm-button-wrapper {
  grid-column: 1 / 2;
  padding: 50px 0 0 0;
  justify-self: self-start;
}
