.container {
  margin: 40px auto;
  width: 1000px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.backButton {
  font-size: 20px;
  margin: 0 0 20px 10px;
}

.deleteButtonContainer {
  justify-self: end;
  grid-column: 3;
  width: 30%;
}

.mapContainer {
  grid-column: 2 / 4;
  height: 530px;
  padding: 100px 0 0 0;
}

.confirmButtonWrapper {
  grid-column: 1 / 2;
  margin: 40px 0 0 0;
  justify-self: self-start;
}
