.form {
  ul {
    width: 100%;

    &.inputs {
      margin-bottom: 25px;
      li {
        margin-bottom: 20px;
      }
    }

    &.buttons {
      li {
        margin-bottom: 10px;
      }
    }
  }

  .radioGroup {
    margin-bottom: 15px !important;

    > label {
      font-size: 12px !important;
      margin-right: 15px;
    }
  }

  .birthDate {
    > label {
      font-size: 12px !important;
      margin-bottom: 5px;
    }
  }

  > button {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 0;
    color: #fff;
    font-weight: 600;
    letter-spacing: 1px;
    background-color: var(--main-color);
    cursor: pointer;
  }

  p.msg {
    font-size: 12px;
    line-height: 1.3;
    color: #333;
    padding: 5px 0px;
  }

  p.errMsg {
    font-size: 12px;
    line-height: 1.3;
    color: red;
    padding: 5px 0px;
  }
}
