.form {
  ul {
    width: 100%;

    &.inputs {
      margin-bottom: 25px;
      li {
        margin-bottom: 15px;
      }
    }

    &.buttons {
      li {
        margin-bottom: 10px;
      }
    }

    li > label {
      display: block;
      font-size: 13px;
      font-weight: 600;
      color: #333;
      letter-spacing: 1px;
      padding-left: 5px;
      margin-bottom: 5px;
    }
  }

  .radioGroup {
    display: flex;
    align-items: center;
    padding-left: 5px;
    height: 30px;

    > label {
      display: inline-flex;
      align-items: center;
      margin-right: 10px;
      font-size: 15px;
    }
  }

  input[type='text'],
  input[type='password'] {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: 0px 10px;
    font-size: 13px;
    outline: none;
  }

  input[type='radio'] {
    margin-right: 3px;
    width: 15px;
    height: 15px;
  }

  .nickname {
    display: flex;
    align-items: center;
    width: 100%;

    input[type='text'] {
      width: calc(100% - 80px - 10px);
      margin-right: 10px;
    }

    button {
      width: 80px;
      letter-spacing: 0;
      border: 1px solid var(--main-color);
      background-color: #fff;
      font-weight: 500;
      color: var(--main-color);
    }
  }

  button {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 0;
    color: #fff;
    font-weight: 600;
    letter-spacing: 1px;
    background-color: var(--main-color);
    cursor: pointer;
  }

  p.msg {
    font-size: 12px;
    line-height: 1.3;
    color: #333;
    padding: 5px 0px;
  }

  p.errMsg {
    font-size: 12px;
    line-height: 1.3;
    color: red;
    padding: 5px 0px;
  }
}
