.imageContainer {
  position: relative;

  .scheduleListImage {
    width: 100%;
    min-width: 1280px;
    height: 400px;
    object-fit: cover;
  }

  .scheduleListTitle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 55px;
    font-weight: bold;
    color: white;

    h1 {
      margin-bottom: 20px;
      font-family: 'WandoHopeR';
    }

    h2 {
      font-size: 20px;
    }
  }
}

.scheduleContainer {
  width: 1280px;
  min-height: calc(100vh - 630px);
  margin: 20px auto;
  text-align: center;

  .scheduleFilter {
    margin: 20px;
    text-align: left;
  }

  .scheduleCardContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    gap: 20px;
    width: 1280px;
    margin: auto;

    .noSchedule {
      position: absolute;
      left: 50%;
      transform: translate(-50%, 50%);
      text-align: center;
      font-size: 40px;

      div {
        margin-top: 20px;
        font-size: 30px;
      }
    }

    .scheduleAdd {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 334px;
      border-radius: 10px;
      background-color: lightgray;
      font-size: 40px;

      &:hover {
        cursor: pointer;
        transform: translateY(-10px);
        transition: 0.5s ease-in-out;
      }
    }
  }
}

.sortButton {
  height: 40px;
  width: auto;
  margin-right: 10px;
  padding: 7px;
  border: 0;
  border-radius: 8px;
  background-color: white;
  font-size: 20px;
  font-weight: bold;
  color: black;
  text-decoration: none;
}

.selected {
  color: white;
  background-color: #ef6d00;
}

.loading {
  width: 1000px;
  height: 100px;
  text-align: center;
  font-size: 40px;
}

.lastElement {
  height: 200px;
}
