@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');

@font-face {
  font-family: 'WandohopeR';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/WandohopeR.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
  --main-color: #ef6d00;
  --sub-1-color: #000000;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
}
