.form {
  ul.inputs {
    width: 100%;
    margin-bottom: 25px;

    li {
      margin-bottom: 25px;
    }
  }

  .radioGroup {
    margin-bottom: 15px !important;

    > label {
      font-size: 12px !important;
      margin-right: 15px;
    }
  }

  .birthDate {
    > label {
      font-size: 12px !important;
      margin-bottom: 5px;
    }
  }

  .nickname {
    display: flex;
    align-items: center;
    width: 100%;

    .MuiFormControl-root {
      width: calc(100% - 100px - 10px);
    }

    button {
      width: 100px;
      height: 40px;
      margin-left: 10px;
      letter-spacing: 0;
      border: 1px solid var(--main-color);
      border-radius: 3px;
      background-color: #fff;
      font-weight: 500;
      color: var(--main-color);
      cursor: pointer;

      &.disabled {
        background-color: #bbb;
        border: none;
        color: #fff;
      }
    }
  }

  p.msg {
    font-size: 12px;
    line-height: 1.3;
    color: #333;
    padding-top: 5px;
  }

  p.errMsg {
    font-size: 12px;
    line-height: 1.3;
    color: red;
    padding-top: 5px;
  }
}
