.layout {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  min-width: 1280px;
  height: 140px;
  border-top: 1px solid #ddd;
  box-sizing: border-box;
  background: #efefef;

  &.whiteBg {
    background: #fff;
  }

  .body {
    margin: 0 auto;
    width: 1280px;
    height: 100%;
    display: flex;
  }

  .layoutLeft {
    font-family: 'WandohopeR';
    font-size: 50px;
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: flex-end;
    padding-right: 100px;
    box-sizing: border-box;
  }

  .layoutRight {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 50%;
    font-size: 15px;
    p {
      padding: 5px 5px;
      color: #666;
      a {
        text-decoration: none;
        color: inherit;
      }
    }
  }
}
